<h1>Band Tracker</h1>
<h2>Band: @Model["band"].GetName()</h2>

@if (@Model["bandVenues"].Count != 0)
{
  <h4>Band is playing at this venues:</h4>
  <ul>
    @foreach (var venue in @Model["bandVenues"])
    {
      <li>@venue.GetName()</li>
    }
  </ul>
}
<h3>Add venue this band</h3>
<form action='/band/add_venue' method='post'>
  <input id='band-id' name='band-id' type='hidden' value='@Model["band"].GetId()'>
  <label for='venue-id'>Select a venue</label>
  <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allVenues"])
    {
      <option value='@venue.GetId()'>@venue.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return</a></p>
