<h2>Venue @Model["venue"].GetName()</h2>

@if (@Model["venueBands"].Count != 0)
{
  <h4>Bands in venue:</h4>
  <ul>
    @foreach (var band in @Model["venueBands"])
    {
      <li>@band.GetName()</li>
    }
  </ul>
}
<h4>Add  band to venue:</h4>
<form action='/venue/add_band' method='post'>
  <input id='venue-id' name='venue-id' type='hidden' value='@Model["venue"].GetId()'>
  <label for='band-id'>Select band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetId()'>@band.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return Home</a></p>
